#left-column {
    width: 30%;
    float: left;
}

#center-column {
    width: 30%;
    margin-left: 5%;
    float: left;
}

#right-column {
    width: 30%;
    margin-left: 5%;
    float: left;    
}

.half {
    width: 50%;
    float: left;
}

.akatus-field {
    width: 98%;
}
#cartoes_akatus{
	padding-left:0 !important;
}
#cartoes_akatus, #lista_de_parcelas {
	display:block;
	position:relative;
	list-style:none;
	list-style-image:none;
	list-style-type:none;
}
#cartoes_akatus li {
	display:block;
	float:left;
	width:50px;
	height:50px;
	text-align:center;
	cursor:pointer;
	margin-right:2px;
}
#lista_de_parcelas li {
	display:block;
	position:relative;
	float:left;
	width:360px;
	height:30px;
	text-align:left;
	cursor:pointer;
	font-size:14px;
}
.borda_rodape {
	border-bottom:1px dotted #333;
}
form#pagamento {
	margin-bottom:100px;
	display:block;
}
#bandeiras_akatus {
	width:100%;
	height:90px;
	display:block;
	position:relative;
	float:left;
	border: none;
	background-color:#fff;
	margin-bottom: 15px;
}
#dados_titular_cartao{
	
}
#parcelas_akatus{
	width:100%; height:120px; display:block; position:relative; float:left; background-color:#fff; margin-top:20px; margin-bottom:10px;
}
#carregando
{
	display:none;
}

#popup{
	z-index: 100;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.popup {
    width:500px;
    height:500px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-200px 0 0 -250px; /* [-(height/2)px 0 0 -(width/2)px] */
    display:none;
	background-color:white;
	border:5px solid #666;
  }

  /* cartao de credito */

.form-cartao{
	width:100%;
	display:block;
	list-style:none;
	padding-left: 0 !important;
}
.form-cartao li{	
	list-style:none;
	display:block;
	margin-top: 10px;
}
.form-cartao li span, .form-cartao li span a{
	font-size: 11px !important;
	display:block;
}
.left input[type=text], .left select, .left input[type=password]{
	margin:0px 0 10px;
}
.left h2{
	margin-bottom:10px;
}

input[type="text"], input[type="password"], textarea {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
    width: 100% !important;
}
